.THIS {
    background-color: yellow;
}

h1.THIS{
        font-size: 60px;
        padding-bottom:10px;
}

.THIS.red{
    background-color: red;
    padding-bottom:10px;
}
.THIS.blue{
    background-color: blue;
    padding-bottom:10px;
}
.THIS.green{
    background-color: green;
    padding-bottom:10px;
}